<h1>Coupon Form</h1>

<%= form_for :coupon, url: coupons_path do |f| %>
  <div>
    <label>Coupon Code</label>
    <%= f.text_field :coupon_code, id: "coupon_code" %>
  </div>
  <div>
    <label>Store</label>
    <%= f.text_field :store, id: "store" %>
  </div>
  <button>Submit Coupon</button>
<% end %>
